body {
  width: 100vh;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255,255,255,0.2);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.text2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8rem;
    font-weight: lighter;
    color: white;
    opacity: 50%;
    margin-top: 35rem;
    margin-left: 34.5rem;

}



/* @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqg.ttf) format('truetype');
  }
  body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font: 5vh Lora;
  }
  a {
    color: #222a;
    -webkit-text-decoration: #2224 wavy underline;
            text-decoration: #2224 wavy underline;
    transition: all 0.3s;
  }
  a:hover {
    color: #2223;
    text-shadow: 0 0 100px #333;
  }
  canvas {
    position: fixed;
    z-index: -1;
  }
  
  
  } */


  /*  */

/* .backgroud-img{
    width: 100%;
    height: 900px;
    background: black;
    background-image: url(../Images/w20.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale();
}
.backgroud-img:hover{
    opacity: 1.0;
    filter:saturate() ;
}
.caption{
    font-size: 1.2rem;
    font-weight: bolder;
    color: red;
    margin-top: 1rem;   
    margin-left: 7rem; 
}
.dfg-logo{
    width: 20rem;
    height: 8rem;
    margin-left: 2rem;
    margin-top: 8rem;
    align-items: center;
    filter: drop-shadow(50);
}
.custom-message{
    color: wheat;
    margin-top: 9rem;
    margin-left: 6rem;
}
.para-bottom{
    color: red;
    margin-left: 16rem;
    font-weight: bold;
}
 */